@import '../../../static/vendor/normalize.css';
@import '../../../static/font/stylesheet.css';
@import '../../../static/font/montserratAlternates.css';
@import '../../variables.scss';

.chat-page {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}

.chat {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;

  display: flex;

  &__menu-container {
    width: 350px;
    height: 100%;
    min-height: 100vh;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.7);
  }

  &__subtitle {
    width: 100%;
    height: 100%;
    @include fontText(normal, 400, 14px, 150%);
    text-align: center;
    align-items: center;
    margin: 0;
  }

  &__loader {
    @include fontText(normal, 400, 14px, 150%);
    text-align: center;
    margin-top: 15px;
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 25%;
      height: 2px;
      background-color: $back-color-attention;
      position: absolute;
      bottom: 0;
    }
    &--active-0 {
      &::after {
        left: 0%;
      }
    }
    &--active-1 {
      &::after {
        left: 25%;
      }
    }
    &--active-2 {
      &::after {
        left: 50%;
      }
    }
    &--active-3 {
      &::after {
        left: 75%;
      }
    }
  }

  &__icon {
    width: 50px;
  }

  &__input-messange {
    width: 100%;
  }

  &__container {
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px;
    box-sizing: border-box;

    &--dialog {
      justify-content: end;
    }
  }
  &__container-messages {
    height: 100%;
    overflow-y: scroll;
    // scroll-snap-align: end;
    width: 100%;
    @include scrollMin();
    padding-right: 5px;


    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__main {
    padding: 0 5px;
  }

  &__button-download {
    width: 100%;
    margin: 0 0 10px;
    @include fontText(normal, 400, 14px, 150%);

    background: #397387;
    color: #fff;
    border: none;
    height: 30px;
  }

  &__messange {
    width: 100%;
  }

  &__user-setting {
    width: 100%;
  }

  &__button-new-chat {
    width: calc(100% - 10px);
    margin: 10px 5px;
    @include fontText(normal, 400, 14px, 150%);

    background: #397387;
    color: #fff;
    border: none;
    height: 30px;
  }
}
