@import '../../variables.scss';

.field-input {
  width: 100%;

  &__title {
    @include fontText(normal, 400, 12px, 150%);
    margin: 0;
    margin-bottom: 5px;
    color: $font_color_second;
  }

  &__input {
    @include fontText(normal, 400, 14px, 150%);
    width: 100%;
    
    border: none;
    background: transparent;
    border-bottom: 1px solid $back-color-attention;
    box-sizing: border-box;
    &:invalid {
      border: 2px dashed $inpit-error-color;
      border-radius: 5px;

    }
    &:valid {
      border: 2px solid $inpit-valid-color;
      border-radius: 5px;
    }
  }

  &__error {
    @include fontText(normal, 400, 12px, 150%);
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    color: $inpit-error-color;
  }

}
