@import '../static/vendor/normalize.css';
@import '../static/font/stylesheet.css';
@import '../static/font/montserratAlternates.css';

.body {
  // width: 100vw;
  // height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(247, 249, 250, 0.5),
      rgba(247, 249, 250, 0.5)
    ),
    url(../static/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.root {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
