@import '../static/vendor/normalize.css';
@import '../static/font/stylesheet.css';
@import '../static/font/montserratAlternates.css';
@import './variables.scss';

.root {
  &__title {
    @include fontText(normal, 600, 24px, 150%);
    text-transform: uppercase;
    color: #397387;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    // padding-top: 20%;
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;

    @include fontText(normal, 400, 18px, 150%);

    color: #397387;
    text-decoration: none;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #397387;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 50%;
    }
  }
}
