@import "../../variables.scss";

.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &__title {
        @include fontTitle(normal, 700, 70, 100%);
        color: $title_main;
        margin: 0;
    }
}